<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androids.growup" >

    <!-- Permission to connect to the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permission to startIt Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:name=".CategoryActivity"
            android:label="@string/title_activity_sub_category"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androids.growup.MainActivity" />
        </activity>
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:name=".PlantActivity"
            android:label="@string/title_activity_plant"
            android:parentActivityName=".CategoryActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androids.growup.CategoryActivity" />
        </activity>
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <receiver android:name=".AlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver
            android:name=".DeviceBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MyPageActivity"
            android:label="@string/title_activity_my_page"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <activity
            android:name=".InspoActivity"
            android:label="@string/tilte_inspo_text"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

    </application>

</manifest>
